@charset "utf-8";
@font-face
{font-family: 'Lato';
font-style: normal;
font-weight: 400;
src: url(../font/Lato-Regular.woff2) format('woff2'),
url(../font/Lato-Regular.woff) format('woff'),
url(../font/Lato-Regular.ttf) format('opentype');
}

@font-face
{font-family: 'Lato';
font-style: normal;
font-weight: 500;
src: url(../font/Lato-Bold.woff2) format('woff2'),
url(../font/Lato-Bold.woff) format('woff'),
url(../font/Lato-Bold.ttf) format('opentype');
}

@font-face
{font-family: 'Lato';
font-style: normal;
font-weight: 700;
src: url(../font/Lato-Black.woff2) format('woff2'),
url(../font/Lato-Black.woff) format('woff'),
url(../font/Lato-Black.ttf) format('opentype');
}
